make-blueprints/create-project-when-task-created.json
{
    "name": "Create Toggl Project when Task Created",
    "flow": [
        {
            "id": 1,
            "module": "smartsuite:recorordCreated",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1518634
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "When SS Task Created"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:smartsuite",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Id",
                        "type": "text",
                        "label": "Id"
                    },
                    {
                        "name": "Table Id",
                        "type": "text",
                        "label": "Table Id"
                    },
                    {
                        "name": "Table Slug",
                        "type": "text",
                        "label": "Table Slug"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Description & Requirements",
                        "type": "text",
                        "label": "Description & Requirements"
                    },
                    {
                        "name": "Assigned To",
                        "type": "select",
                        "label": "Assigned To"
                    },
                    {
                        "name": "Assigned To: ID",
                        "type": "select",
                        "label": "Assigned To: ID"
                    },
                    {
                        "name": "Status",
                        "type": "select",
                        "label": "Status"
                    },
                    {
                        "name": "Needed By",
                        "type": "date",
                        "label": "Needed By"
                    },
                    {
                        "name": "Needed By: Entire Field",
                        "spec": [
                            {
                                "name": "Start Date",
                                "type": "date",
                                "label": "Start Date"
                            },
                            {
                                "name": "End Date",
                                "type": "date",
                                "label": "End Date"
                            }
                        ],
                        "type": "collection",
                        "label": "Needed By: Entire Field"
                    },
                    {
                        "name": "Priority",
                        "type": "select",
                        "label": "Priority"
                    },
                    {
                        "name": "Priority: ID",
                        "type": "select",
                        "label": "Priority: ID"
                    },
                    {
                        "name": "First Created",
                        "type": "text",
                        "label": "First Created"
                    },
                    {
                        "name": "Last Updated",
                        "type": "text",
                        "label": "Last Updated"
                    },
                    {
                        "name": "Followed by",
                        "type": "select",
                        "label": "Followed by"
                    },
                    {
                        "name": "Followed by: ID",
                        "type": "select",
                        "label": "Followed by: ID"
                    },
                    {
                        "name": "Open Comments",
                        "type": "number",
                        "label": "Open Comments"
                    },
                    {
                        "name": "Auto Number",
                        "type": "text",
                        "label": "Auto Number"
                    },
                    {
                        "name": "Requested By",
                        "type": "text",
                        "label": "Requested By"
                    },
                    {
                        "name": "Client",
                        "type": "text",
                        "label": "Client"
                    },
                    {
                        "name": "Client: ID",
                        "type": "text",
                        "label": "Client: ID"
                    },
                    {
                        "name": "Toggl Project ID",
                        "type": "text",
                        "label": "Toggl Project ID"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "Toggl Client ID",
                        "type": "text",
                        "label": "Toggl Client ID"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "toggl:CreateProjectV9",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2952571
                            },
                            "filter": {
                                "name": "If SS task has Toggl Client ID",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`Toggl Client ID`}}",
                                            "b": "0",
                                            "o": "array:greater"
                                        },
                                        {
                                            "a": "{{1.`Toggl Client ID`}}",
                                            "b": "0",
                                            "o": "array:notcontain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cid": "{{parseNumber(first(1.`Toggl Client ID`); )}}",
                                "wid": 8472798,
                                "name": "{{1.Title}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cid": {
                                            "mode": "edit"
                                        },
                                        "wid": {
                                            "mode": "chose",
                                            "label": "Workspace"
                                        },
                                        "color": {
                                            "mode": "edit"
                                        },
                                        "active": {
                                            "mode": "chose"
                                        },
                                        "billable": {
                                            "mode": "chose"
                                        },
                                        "template": {
                                            "mode": "chose"
                                        },
                                        "recurring": {
                                            "mode": "chose"
                                        },
                                        "is_private": {
                                            "mode": "chose"
                                        },
                                        "auto_estimates": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "toggl"
                                            },
                                            "label": "555 Toggl connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:toggl",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "wid",
                                        "type": "select",
                                        "label": "Workspace ID",
                                        "required": true
                                    },
                                    {
                                        "name": "active",
                                        "type": "boolean",
                                        "label": "Active"
                                    },
                                    {
                                        "name": "is_private",
                                        "type": "boolean",
                                        "label": "Is Private"
                                    },
                                    {
                                        "name": "template",
                                        "type": "boolean",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "template_id",
                                        "type": "uinteger",
                                        "label": "Template ID"
                                    },
                                    {
                                        "name": "auto_estimates",
                                        "type": "boolean",
                                        "label": "Auto Estimates"
                                    },
                                    {
                                        "name": "estimated_hours",
                                        "type": "uinteger",
                                        "label": "Estimated Hours"
                                    },
                                    {
                                        "name": "billable",
                                        "type": "boolean",
                                        "label": "Billable"
                                    },
                                    {
                                        "name": "recurring",
                                        "type": "boolean",
                                        "label": "Recurring"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "color",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "cid",
                                        "type": "select",
                                        "label": "Client ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "smartsuite:updaterecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2970107
                            },
                            "mapper": {
                                "due_date": {},
                                "solution": "667bba5df6b95c7f78bd001a",
                                "sb5d52e9cc": "{{2.id}}",
                                "application": "667bba5df6b95c7f78bd002c",
                                "recordToUpdate": "{{1.Title}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "status": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "solution": {
                                            "mode": "chose",
                                            "label": "Operation",
                                            "nested": [
                                                {
                                                    "name": "application",
                                                    "type": "select",
                                                    "label": "Table",
                                                    "nested": [
                                                        {
                                                            "name": "recordToUpdate",
                                                            "type": "select",
                                                            "label": "Record ID or Title",
                                                            "options": "rpc://smartsuite/1/listRecords",
                                                            "required": true
                                                        },
                                                        "rpc://smartsuite/1/fields"
                                                    ],
                                                    "options": [
                                                        {
                                                            "label": "Tasks",
                                                            "value": "667bba5df6b95c7f78bd002c"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        "application": {
                                            "mode": "chose",
                                            "label": "Tasks"
                                        },
                                        "assigned_to": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "recordToUpdate": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "smartsuite"
                                            },
                                            "label": "555 SmartSuite Connection connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:smartsuite",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "solution",
                                        "type": "select",
                                        "label": "Solution",
                                        "required": true
                                    },
                                    {
                                        "name": "application",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "667bba5df6b95c7f78bd002c"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "recordToUpdate",
                                        "type": "select",
                                        "label": "Record ID or Title",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description & Requirements"
                                    },
                                    {
                                        "name": "assigned_to",
                                        "type": "select",
                                        "label": "Assigned To"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "due_date",
                                        "spec": [
                                            {
                                                "name": "Start Date",
                                                "type": "date"
                                            },
                                            {
                                                "name": "End Date",
                                                "type": "date"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Needed By"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority"
                                    },
                                    {
                                        "name": "sc05175248",
                                        "type": "text",
                                        "label": "Requested By"
                                    },
                                    {
                                        "name": "s9b9f4cf77",
                                        "type": "text",
                                        "label": "Client"
                                    },
                                    {
                                        "name": "sb5d52e9cc",
                                        "type": "text",
                                        "label": "Toggl Project ID"
                                    },
                                    {
                                        "name": "sa0ba25370",
                                        "type": "text",
                                        "label": "Description"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Id",
                                        "type": "text",
                                        "label": "Id"
                                    },
                                    {
                                        "name": "Table Id",
                                        "type": "text",
                                        "label": "Table Id"
                                    },
                                    {
                                        "name": "Table Slug",
                                        "type": "text",
                                        "label": "Table Slug"
                                    },
                                    {
                                        "name": "Title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "Description & Requirements",
                                        "type": "text",
                                        "label": "Description & Requirements"
                                    },
                                    {
                                        "name": "Assigned To",
                                        "type": "select",
                                        "label": "Assigned To"
                                    },
                                    {
                                        "name": "Assigned To: ID",
                                        "type": "select",
                                        "label": "Assigned To: ID"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Needed By",
                                        "type": "date",
                                        "label": "Needed By"
                                    },
                                    {
                                        "name": "Needed By: Entire Field",
                                        "spec": [
                                            {
                                                "name": "Start Date",
                                                "type": "date",
                                                "label": "Start Date"
                                            },
                                            {
                                                "name": "End Date",
                                                "type": "date",
                                                "label": "End Date"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Needed By: Entire Field"
                                    },
                                    {
                                        "name": "Priority",
                                        "type": "select",
                                        "label": "Priority"
                                    },
                                    {
                                        "name": "Priority: ID",
                                        "type": "select",
                                        "label": "Priority: ID"
                                    },
                                    {
                                        "name": "First Created",
                                        "type": "text",
                                        "label": "First Created"
                                    },
                                    {
                                        "name": "Last Updated",
                                        "type": "text",
                                        "label": "Last Updated"
                                    },
                                    {
                                        "name": "Followed by",
                                        "type": "select",
                                        "label": "Followed by"
                                    },
                                    {
                                        "name": "Followed by: ID",
                                        "type": "select",
                                        "label": "Followed by: ID"
                                    },
                                    {
                                        "name": "Open Comments",
                                        "type": "number",
                                        "label": "Open Comments"
                                    },
                                    {
                                        "name": "Auto Number",
                                        "type": "text",
                                        "label": "Auto Number"
                                    },
                                    {
                                        "name": "Requested By",
                                        "type": "text",
                                        "label": "Requested By"
                                    },
                                    {
                                        "name": "Client",
                                        "type": "text",
                                        "label": "Client"
                                    },
                                    {
                                        "name": "Client: ID",
                                        "type": "text",
                                        "label": "Client: ID"
                                    },
                                    {
                                        "name": "Toggl Project ID",
                                        "type": "text",
                                        "label": "Toggl Project ID"
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "Toggl Client ID",
                                        "type": "text",
                                        "label": "Toggl Client ID"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "toggl:CreateClientV9",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2952571
                            },
                            "filter": {
                                "name": "If SS task does not have Toggl Client ID",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`Toggl Client ID`}}",
                                            "b": "0",
                                            "o": "array:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{1.`Toggl Project ID`}}",
                                            "b": "0",
                                            "o": "array:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "wid": 8472798,
                                "name": "{{first(1.Client)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "wid": {
                                            "mode": "chose",
                                            "label": "Workspace"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "toggl"
                                            },
                                            "label": "555 Toggl connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:toggl",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "wid",
                                        "type": "select",
                                        "label": "Workspace ID",
                                        "required": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "smartsuite:updaterecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2970107
                            },
                            "mapper": {
                                "solution": "667bbb80f788af3091e6c83b",
                                "s5edf67aad": {},
                                "s94ac518e9": "{{8.id}}",
                                "application": "667bbb80f788af3091e6c83c",
                                "recordToUpdate": "{{first(1.Client)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "solution": {
                                            "mode": "chose",
                                            "label": "CRM",
                                            "nested": [
                                                {
                                                    "name": "application",
                                                    "type": "select",
                                                    "label": "Table",
                                                    "nested": [
                                                        {
                                                            "name": "recordToUpdate",
                                                            "type": "select",
                                                            "label": "Record ID or Title",
                                                            "options": "rpc://smartsuite/1/listRecords",
                                                            "required": true
                                                        },
                                                        "rpc://smartsuite/1/fields"
                                                    ],
                                                    "options": [
                                                        {
                                                            "label": "Clients",
                                                            "value": "667bbb80f788af3091e6c83c"
                                                        },
                                                        {
                                                            "label": "Contacts",
                                                            "value": "667bbb80f788af3091e6c842"
                                                        },
                                                        {
                                                            "label": "Pipeline",
                                                            "value": "667bbb80f788af3091e6c84c"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        "s5edf67aad": {
                                            "nested": {
                                                "location_country": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        },
                                        "sb685ab800": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "scf86721a6": {
                                            "mode": "chose"
                                        },
                                        "application": {
                                            "mode": "chose",
                                            "label": "Clients"
                                        },
                                        "recordToUpdate": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "smartsuite"
                                            },
                                            "label": "555 SmartSuite Connection connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:smartsuite",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "solution",
                                        "type": "select",
                                        "label": "Solution",
                                        "required": true
                                    },
                                    {
                                        "name": "application",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "667bbb80f788af3091e6c83c",
                                                "667bbb80f788af3091e6c842",
                                                "667bbb80f788af3091e6c84c"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "recordToUpdate",
                                        "type": "select",
                                        "label": "Record ID or Title",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "s5edf67aad",
                                        "spec": [
                                            {
                                                "name": "location_address",
                                                "type": "text",
                                                "label": "Street"
                                            },
                                            {
                                                "name": "location_address2",
                                                "type": "text",
                                                "label": "Suite / Apt / Bldg"
                                            },
                                            {
                                                "name": "location_city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "location_country",
                                                "type": "select",
                                                "label": "Country",
                                                "validate": {
                                                    "enum": [
                                                        "Afghanistan",
                                                        "Åland Islands",
                                                        "Albania",
                                                        "Algeria",
                                                        "American Samoa",
                                                        "Andorra",
                                                        "Angola",
                                                        "Anguilla",
                                                        "Antarctica",
                                                        "Antigua & Barbuda",
                                                        "Argentina",
                                                        "Armenia",
                                                        "Aruba",
                                                        "Ascension Island",
                                                        "Australia",
                                                        "Austria",
                                                        "Azerbaijan",
                                                        "Bahamas",
                                                        "Bahrain",
                                                        "Bangladesh",
                                                        "Barbados",
                                                        "Belarus",
                                                        "Belgium",
                                                        "Belize",
                                                        "Benin",
                                                        "Bermuda",
                                                        "Bhutan",
                                                        "Bolivia",
                                                        "Bosnia & Herzegovina",
                                                        "Botswana",
                                                        "Brazil",
                                                        "British Indian Ocean Territory",
                                                        "British Virgin Islands",
                                                        "Brunei",
                                                        "Bulgaria",
                                                        "Burkina Faso",
                                                        "Burundi",
                                                        "Cambodia",
                                                        "Cameroon",
                                                        "Canada",
                                                        "Canary Islands",
                                                        "Cape Verde",
                                                        "Caribbean Netherlands",
                                                        "Cayman Islands",
                                                        "Central African Republic",
                                                        "Ceuta & Melilla",
                                                        "Chad",
                                                        "Chile",
                                                        "China",
                                                        "Christmas Island",
                                                        "Cocos (Keeling) Islands",
                                                        "Colombia",
                                                        "Comoros",
                                                        "Congo - Brazzaville",
                                                        "Congo - Kinshasa",
                                                        "Cook Islands",
                                                        "Costa Rica",
                                                        "Côte d’Ivoire",
                                                        "Croatia",
                                                        "Cuba",
                                                        "Curaçao",
                                                        "Cyprus",
                                                        "Czechia",
                                                        "Denmark",
                                                        "Diego Garcia",
                                                        "Djibouti",
                                                        "Dominica",
                                                        "Dominican Republic",
                                                        "Ecuador",
                                                        "Egypt",
                                                        "El Salvador",
                                                        "Equatorial Guinea",
                                                        "Eritrea",
                                                        "Estonia",
                                                        "Eswatini",
                                                        "Ethiopia",
                                                        "Falkland Islands",
                                                        "Faroe Islands",
                                                        "Fiji",
                                                        "Finland",
                                                        "France",
                                                        "French Guiana",
                                                        "French Polynesia",
                                                        "French Southern Territories",
                                                        "Gabon",
                                                        "Gambia",
                                                        "Georgia",
                                                        "Germany",
                                                        "Ghana",
                                                        "Gibraltar",
                                                        "Greece",
                                                        "Greenland",
                                                        "Grenada",
                                                        "Guadeloupe",
                                                        "Guam",
                                                        "Guatemala",
                                                        "Guernsey",
                                                        "Guinea",
                                                        "Guinea-Bissau",
                                                        "Guyana",
                                                        "Haiti",
                                                        "Honduras",
                                                        "Hong Kong SAR China",
                                                        "Hungary",
                                                        "Iceland",
                                                        "India",
                                                        "Indonesia",
                                                        "Iran",
                                                        "Iraq",
                                                        "Ireland",
                                                        "Isle of Man",
                                                        "Israel",
                                                        "Italy",
                                                        "Jamaica",
                                                        "Japan",
                                                        "Jersey",
                                                        "Jordan",
                                                        "Kazakhstan",
                                                        "Kenya",
                                                        "Kiribati",
                                                        "Kosovo",
                                                        "Kuwait",
                                                        "Kyrgyzstan",
                                                        "Laos",
                                                        "Latvia",
                                                        "Lebanon",
                                                        "Lesotho",
                                                        "Liberia",
                                                        "Libya",
                                                        "Liechtenstein",
                                                        "Lithuania",
                                                        "Luxembourg",
                                                        "Macao SAR China",
                                                        "Madagascar",
                                                        "Malawi",
                                                        "Malaysia",
                                                        "Maldives",
                                                        "Mali",
                                                        "Malta",
                                                        "Marshall Islands",
                                                        "Martinique",
                                                        "Mauritania",
                                                        "Mauritius",
                                                        "Mayotte",
                                                        "Mexico",
                                                        "Micronesia",
                                                        "Moldova",
                                                        "Monaco",
                                                        "Mongolia",
                                                        "Montenegro",
                                                        "Montserrat",
                                                        "Morocco",
                                                        "Mozambique",
                                                        "Myanmar (Burma)",
                                                        "Namibia",
                                                        "Nauru",
                                                        "Nepal",
                                                        "Netherlands",
                                                        "New Caledonia",
                                                        "New Zealand",
                                                        "Nicaragua",
                                                        "Niger",
                                                        "Nigeria",
                                                        "Niue",
                                                        "Norfolk Island",
                                                        "North Korea",
                                                        "North Macedonia",
                                                        "Northern Mariana Islands",
                                                        "Norway",
                                                        "Oman",
                                                        "Pakistan",
                                                        "Palau",
                                                        "Palestinian Territories",
                                                        "Panama",
                                                        "Papua New Guinea",
                                                        "Paraguay",
                                                        "Peru",
                                                        "Philippines",
                                                        "Pitcairn Islands",
                                                        "Poland",
                                                        "Portugal",
                                                        "Pseudo-Accents",
                                                        "Pseudo-Bidi",
                                                        "Puerto Rico",
                                                        "Qatar",
                                                        "Réunion",
                                                        "Romania",
                                                        "Russia",
                                                        "Rwanda",
                                                        "Samoa",
                                                        "San Marino",
                                                        "São Tomé & Príncipe",
                                                        "Saudi Arabia",
                                                        "Senegal",
                                                        "Serbia",
                                                        "Seychelles",
                                                        "Sierra Leone",
                                                        "Singapore",
                                                        "Sint Maarten",
                                                        "Slovakia",
                                                        "Slovenia",
                                                        "Solomon Islands",
                                                        "Somalia",
                                                        "South Africa",
                                                        "South Georgia & South Sandwich Islands",
                                                        "South Korea",
                                                        "South Sudan",
                                                        "Spain",
                                                        "Sri Lanka",
                                                        "St. Barthélemy",
                                                        "St. Helena",
                                                        "St. Kitts & Nevis",
                                                        "St. Lucia",
                                                        "St. Martin",
                                                        "St. Pierre & Miquelon",
                                                        "St. Vincent & Grenadines",
                                                        "Sudan",
                                                        "Suriname",
                                                        "Svalbard & Jan Mayen",
                                                        "Sweden",
                                                        "Switzerland",
                                                        "Syria",
                                                        "Taiwan",
                                                        "Tajikistan",
                                                        "Tanzania",
                                                        "Thailand",
                                                        "Timor-Leste",
                                                        "Togo",
                                                        "Tokelau",
                                                        "Tonga",
                                                        "Trinidad & Tobago",
                                                        "Tristan da Cunha",
                                                        "Tunisia",
                                                        "Turkey",
                                                        "Turkmenistan",
                                                        "Turks & Caicos Islands",
                                                        "Tuvalu",
                                                        "U.S. Outlying Islands",
                                                        "U.S. Virgin Islands",
                                                        "Uganda",
                                                        "Ukraine",
                                                        "United Arab Emirates",
                                                        "United Kingdom",
                                                        "United States",
                                                        "Uruguay",
                                                        "Uzbekistan",
                                                        "Vanuatu",
                                                        "Vatican City",
                                                        "Venezuela",
                                                        "Vietnam",
                                                        "Wallis & Futuna",
                                                        "Western Sahara",
                                                        "Yemen",
                                                        "Zambia",
                                                        "Zimbabwe"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "location_state",
                                                "type": "text",
                                                "label": "State / Region"
                                            },
                                            {
                                                "name": "location_zip",
                                                "type": "text",
                                                "label": "Postal Code"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Address"
                                    },
                                    {
                                        "name": "sb685ab800",
                                        "type": "select",
                                        "label": "Industry"
                                    },
                                    {
                                        "name": "sb788c266b",
                                        "type": "text",
                                        "label": "Website"
                                    },
                                    {
                                        "name": "s23de9b87c",
                                        "type": "text",
                                        "label": "Contacts"
                                    },
                                    {
                                        "name": "s66vy4b4",
                                        "type": "text",
                                        "label": "Link to Pipeline"
                                    },
                                    {
                                        "name": "scf86721a6",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File Name",
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "fileUrl",
                                                "type": "url",
                                                "label": "File Url",
                                                "required": true,
                                                "semantic": "file:url"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Files and Images"
                                    },
                                    {
                                        "name": "sceb28e5ce",
                                        "type": "email",
                                        "label": "Company Email"
                                    },
                                    {
                                        "name": "sb922c3819",
                                        "type": "text",
                                        "label": "Primary Contact Name"
                                    },
                                    {
                                        "name": "sfyz2f7a",
                                        "type": "text",
                                        "label": "Link to Tickets"
                                    },
                                    {
                                        "name": "sfkataea",
                                        "type": "text",
                                        "label": "Link to Design Requests"
                                    },
                                    {
                                        "name": "s94ac518e9",
                                        "type": "number",
                                        "label": "Toggl Client ID"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Id",
                                        "type": "text",
                                        "label": "Id"
                                    },
                                    {
                                        "name": "Table Id",
                                        "type": "text",
                                        "label": "Table Id"
                                    },
                                    {
                                        "name": "Table Slug",
                                        "type": "text",
                                        "label": "Table Slug"
                                    },
                                    {
                                        "name": "Title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "First Created",
                                        "type": "text",
                                        "label": "First Created"
                                    },
                                    {
                                        "name": "Last Updated",
                                        "type": "text",
                                        "label": "Last Updated"
                                    },
                                    {
                                        "name": "Followed by",
                                        "type": "select",
                                        "label": "Followed by"
                                    },
                                    {
                                        "name": "Followed by: ID",
                                        "type": "select",
                                        "label": "Followed by: ID"
                                    },
                                    {
                                        "name": "Open Comments",
                                        "type": "number",
                                        "label": "Open Comments"
                                    },
                                    {
                                        "name": "Auto Number",
                                        "type": "text",
                                        "label": "Auto Number"
                                    },
                                    {
                                        "name": "s5edf67aad",
                                        "spec": [
                                            {
                                                "name": "location_address",
                                                "type": "text",
                                                "label": "Street"
                                            },
                                            {
                                                "name": "location_address2",
                                                "type": "text",
                                                "label": "Suite / Apt / Bldg"
                                            },
                                            {
                                                "name": "location_city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "location_country",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "location_state",
                                                "type": "text",
                                                "label": "State / Region"
                                            },
                                            {
                                                "name": "location_zip",
                                                "type": "text",
                                                "label": "Postal Code"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Address"
                                    },
                                    {
                                        "name": "Industry",
                                        "type": "select",
                                        "label": "Industry"
                                    },
                                    {
                                        "name": "Industry: ID",
                                        "type": "select",
                                        "label": "Industry: ID"
                                    },
                                    {
                                        "name": "Website",
                                        "type": "text",
                                        "label": "Website"
                                    },
                                    {
                                        "name": "Contacts",
                                        "type": "text",
                                        "label": "Contacts"
                                    },
                                    {
                                        "name": "Contacts: IDs",
                                        "type": "text",
                                        "label": "Contacts: IDs"
                                    },
                                    {
                                        "name": "Link to Pipeline",
                                        "type": "text",
                                        "label": "Link to Pipeline"
                                    },
                                    {
                                        "name": "Link to Pipeline: IDs",
                                        "type": "text",
                                        "label": "Link to Pipeline: IDs"
                                    },
                                    {
                                        "name": "scf86721a6",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File Name",
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "fileUrl",
                                                "type": "url",
                                                "label": "File Url",
                                                "semantic": "file:url"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Files and Images"
                                    },
                                    {
                                        "name": "Company Email",
                                        "type": "email",
                                        "label": "Company Email"
                                    },
                                    {
                                        "name": "Primary Contact Name",
                                        "type": "text",
                                        "label": "Primary Contact Name"
                                    },
                                    {
                                        "name": "Link to Tickets",
                                        "type": "text",
                                        "label": "Link to Tickets"
                                    },
                                    {
                                        "name": "Link to Tickets: IDs",
                                        "type": "text",
                                        "label": "Link to Tickets: IDs"
                                    },
                                    {
                                        "name": "Link to Design Requests",
                                        "type": "text",
                                        "label": "Link to Design Requests"
                                    },
                                    {
                                        "name": "Link to Design Requests: IDs",
                                        "type": "text",
                                        "label": "Link to Design Requests: IDs"
                                    },
                                    {
                                        "name": "Toggl Client ID",
                                        "type": "number",
                                        "label": "Toggl Client ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "toggl:CreateProjectV9",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2952571
                            },
                            "mapper": {
                                "cid": "{{8.id}}",
                                "wid": 8472798,
                                "name": "{{1.Title}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "cid": {
                                            "mode": "edit"
                                        },
                                        "wid": {
                                            "mode": "chose",
                                            "label": "Workspace"
                                        },
                                        "color": {
                                            "mode": "edit"
                                        },
                                        "active": {
                                            "mode": "chose"
                                        },
                                        "billable": {
                                            "mode": "chose"
                                        },
                                        "template": {
                                            "mode": "chose"
                                        },
                                        "recurring": {
                                            "mode": "chose"
                                        },
                                        "is_private": {
                                            "mode": "chose"
                                        },
                                        "auto_estimates": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "toggl"
                                            },
                                            "label": "555 Toggl connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:toggl",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "wid",
                                        "type": "select",
                                        "label": "Workspace ID",
                                        "required": true
                                    },
                                    {
                                        "name": "active",
                                        "type": "boolean",
                                        "label": "Active"
                                    },
                                    {
                                        "name": "is_private",
                                        "type": "boolean",
                                        "label": "Is Private"
                                    },
                                    {
                                        "name": "template",
                                        "type": "boolean",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "template_id",
                                        "type": "uinteger",
                                        "label": "Template ID"
                                    },
                                    {
                                        "name": "auto_estimates",
                                        "type": "boolean",
                                        "label": "Auto Estimates"
                                    },
                                    {
                                        "name": "estimated_hours",
                                        "type": "uinteger",
                                        "label": "Estimated Hours"
                                    },
                                    {
                                        "name": "billable",
                                        "type": "boolean",
                                        "label": "Billable"
                                    },
                                    {
                                        "name": "recurring",
                                        "type": "boolean",
                                        "label": "Recurring"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "color",
                                        "type": "select",
                                        "label": "Color"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "cid",
                                        "type": "select",
                                        "label": "Client ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "smartsuite:updaterecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2970107
                            },
                            "mapper": {
                                "due_date": {},
                                "solution": "667bba5df6b95c7f78bd001a",
                                "sb5d52e9cc": "{{11.id}}",
                                "application": "667bba5df6b95c7f78bd002c",
                                "recordToUpdate": "{{1.Title}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "status": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "solution": {
                                            "mode": "chose",
                                            "label": "Operation",
                                            "nested": [
                                                {
                                                    "name": "application",
                                                    "type": "select",
                                                    "label": "Table",
                                                    "nested": [
                                                        {
                                                            "name": "recordToUpdate",
                                                            "type": "select",
                                                            "label": "Record ID or Title",
                                                            "options": "rpc://smartsuite/1/listRecords",
                                                            "required": true
                                                        },
                                                        "rpc://smartsuite/1/fields"
                                                    ],
                                                    "options": [
                                                        {
                                                            "label": "Tasks",
                                                            "value": "667bba5df6b95c7f78bd002c"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        "application": {
                                            "mode": "chose",
                                            "label": "Tasks"
                                        },
                                        "assigned_to": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "recordToUpdate": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "smartsuite"
                                            },
                                            "label": "555 SmartSuite Connection connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:smartsuite",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "solution",
                                        "type": "select",
                                        "label": "Solution",
                                        "required": true
                                    },
                                    {
                                        "name": "application",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "667bba5df6b95c7f78bd002c"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "recordToUpdate",
                                        "type": "select",
                                        "label": "Record ID or Title",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description & Requirements"
                                    },
                                    {
                                        "name": "assigned_to",
                                        "type": "select",
                                        "label": "Assigned To"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "due_date",
                                        "spec": [
                                            {
                                                "name": "Start Date",
                                                "type": "date"
                                            },
                                            {
                                                "name": "End Date",
                                                "type": "date"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Needed By"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority"
                                    },
                                    {
                                        "name": "sc05175248",
                                        "type": "text",
                                        "label": "Requested By"
                                    },
                                    {
                                        "name": "s9b9f4cf77",
                                        "type": "text",
                                        "label": "Client"
                                    },
                                    {
                                        "name": "sb5d52e9cc",
                                        "type": "text",
                                        "label": "Toggl Project ID"
                                    },
                                    {
                                        "name": "sa0ba25370",
                                        "type": "text",
                                        "label": "Description"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Id",
                                        "type": "text",
                                        "label": "Id"
                                    },
                                    {
                                        "name": "Table Id",
                                        "type": "text",
                                        "label": "Table Id"
                                    },
                                    {
                                        "name": "Table Slug",
                                        "type": "text",
                                        "label": "Table Slug"
                                    },
                                    {
                                        "name": "Title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "Description & Requirements",
                                        "type": "text",
                                        "label": "Description & Requirements"
                                    },
                                    {
                                        "name": "Assigned To",
                                        "type": "select",
                                        "label": "Assigned To"
                                    },
                                    {
                                        "name": "Assigned To: ID",
                                        "type": "select",
                                        "label": "Assigned To: ID"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Needed By",
                                        "type": "date",
                                        "label": "Needed By"
                                    },
                                    {
                                        "name": "Needed By: Entire Field",
                                        "spec": [
                                            {
                                                "name": "Start Date",
                                                "type": "date",
                                                "label": "Start Date"
                                            },
                                            {
                                                "name": "End Date",
                                                "type": "date",
                                                "label": "End Date"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Needed By: Entire Field"
                                    },
                                    {
                                        "name": "Priority",
                                        "type": "select",
                                        "label": "Priority"
                                    },
                                    {
                                        "name": "Priority: ID",
                                        "type": "select",
                                        "label": "Priority: ID"
                                    },
                                    {
                                        "name": "First Created",
                                        "type": "text",
                                        "label": "First Created"
                                    },
                                    {
                                        "name": "Last Updated",
                                        "type": "text",
                                        "label": "Last Updated"
                                    },
                                    {
                                        "name": "Followed by",
                                        "type": "select",
                                        "label": "Followed by"
                                    },
                                    {
                                        "name": "Followed by: ID",
                                        "type": "select",
                                        "label": "Followed by: ID"
                                    },
                                    {
                                        "name": "Open Comments",
                                        "type": "number",
                                        "label": "Open Comments"
                                    },
                                    {
                                        "name": "Auto Number",
                                        "type": "text",
                                        "label": "Auto Number"
                                    },
                                    {
                                        "name": "Requested By",
                                        "type": "text",
                                        "label": "Requested By"
                                    },
                                    {
                                        "name": "Client",
                                        "type": "text",
                                        "label": "Client"
                                    },
                                    {
                                        "name": "Client: ID",
                                        "type": "text",
                                        "label": "Client: ID"
                                    },
                                    {
                                        "name": "Toggl Project ID",
                                        "type": "text",
                                        "label": "Toggl Project ID"
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "Toggl Client ID",
                                        "type": "text",
                                        "label": "Toggl Client ID"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}